body {
  font-family: "Public Sans", sans-serif;
  background-color: #51626d;
}

.page {
  background-color: #fff;
}

.card {
  background-color: #fff;
  width: 17rem;
  transition: 500ms;
  margin: 0.5rem;
}

.card:hover {
  background-color: #d3d3d3;
  transform: scale(1.05);
}

.card-text {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

.col-pic {
  max-width: 250px;
}

.bio-col {
  border-right-style: solid;
  border-width: 1px;
  border-color: #63636325;
}

@media (max-width: 991px) {
  .bio-col {
    border-right: none;
  }

  .portfolio-container {
    padding-top: 1rem;
    border-top-style: solid;
    border-width: 1px;
    border-color: #63636325;
  }
}

@media (max-width: 576px) {
  .greeting {
    padding-top: 1rem;
  }
}
